<!doctype html>
<html>
<head>
    <title>Your page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="../bundles/proCont.js"></script>

    <style>
        body        { padding-top:80px; word-wrap:break-word; display: contents;text-align: center;}

    </style>
</head>
<body>
<div class="container" >

<!-- ================= -->
<!-- running Header for navigation -->
<!-- ================= -->
<header><% include partials/header.ejs %></header>



<div class="page-header text-center">
    <h1><span class="fa fa-id-card-o"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

<div class="row" style="display: ruby;">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6" ;>
        <div class="well">
            <h3><span class="fa fa-user"></span> <%= user.firstnamelastname %></h3>

                <p>
                    <!-- <strong>id</strong>: <%= user._id %><br> -->
                    <strong>Name</strong>: <%= user.firstnamelastname %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <!-- <strong>password</strong>: <%= user.password %><br> -->
                    <strong>Location</strong>: <%= user.whereareyoufrom %><br>
                    <strong>Relationship</strong>: <%= user.relationship %><br>
                    <strong>What is a small gift unique to where you live</strong>: <%= user.giftforex %><br>

                </p>


               <a href="/updateInfo" > <button  id="changeInfo" class="btn btn-default btn-sm">Change Info</button> </a>                   
        </div>
    </div>

</div>

<div class="row" style="text-align: center; display: ruby;">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
        <div class="well">
            <h3><span class="fa fa-user"></span> Random Match</h3>
            <button id="randomBtn" class="btn btn-default btn-sm">FIND YOUR MATCH!</button>
                <p id="TC">
                    <!-- <strong class="randomUsrClass">Name</strong>: 'John'<br>
                    <strong>email</strong>: ----<br>
                    <strong>Location</strong>: ${randomUser}<br>
                    <strong>Relationship</strong>: ----<br>
                    <strong>What is a small gift unique to where you live</strong>: ---<br> -->
                    
                </p>                                        
        </div>
    </div>


</div>

<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
              
<!-- <script type="text/javascript">   

    console.log($)
    $.getJSON('/profile')
        .then(function(data){
        console.log(data)
    }
        ).catch(function(error){
        console.log(error)
    });
    console.log('will it blend');
</script> -->

<!-- <script type="text/javascript">
    $.ajax({
        url: '/profile/5b149d2428ac2a7a8ed23bed',
        type: 'PUT',    
        data: JSON.stringify( 
            {local: {
                firstnamelastname:''
            }}
        ),
        contentType:'application/json',
        success: function(result) {
            alert("success?");
        }
    });
</script> -->


</div>
</body>
</html>