<!doctype html>
<html>
<head>
    <title>Your page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="../bundles/proCont.js"></script>

    <style>
        body { 
            padding-top:80px;
            word-wrap:break-word;
            display: contents;
            text-align: center;
            font-size: 2rem;
            color:#c6c6c6;
            }
        .well {
            color:#000000;
            background: #c6c6c6;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="container" style="text-align: right">
    <img src="../app/images/geometric-wallpaper-6.jpg" style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
    <div class="row">
        <div class="">
            <!-- ================= -->
            <!-- running Header for navigation -->
            <!-- ================= -->
            <header><% include partials/header.ejs %></header>
        </div>
    </div>
</div>

<div class="page-header text-center">
    <h1><span class="fa fa-id-card-o"></span><strong>Profile Page</strong></h1>
</div>
<div class="row" style="text-align: center; display: ruby;">
    <div class="col-lg-6 col-sm-9 col-xs-12">

        <!-- USER INFORMATION -->
        
        <div class="well" >
            <h3><span class="fa fa-user"></span> <%= user.firstnamelastname %></h3>
                <p>
                    <strong>Name</strong>: <%= user.firstnamelastname %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>Location</strong>: <%= user.whereareyoufrom %><br>
                    <strong>Relationship</strong>: <%= user.relationship %><br>
                    <strong>What is a small gift unique to where you live</strong>: <%= user.giftforex %><br>
                </p>         
            <a href="/updateInfo" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-wrench"></span> Change Info</a>                   
        </div>
    </div>

    <div class="col-lg-6 col-sm-9 col-xs-12" style="text-align: center">
        <!-- RANDOM INFORMATION -->     
        <div class="well">
            <h3><span class="fa fa-user"></span> Random Match</h3>
            <button id="randomBtn" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-transfer"></span> Find Your Match</button>
                <p id="TC"></p>                                        
        </div>
    </div>
</div>

<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
              



</div>
</body>
</html>